.cal-but {
    display: flex;
    width: 381px;
    flex-flow: column;
}
.cal-button {
    font-size: 22px;
    background-color: #FAFAFA;
    border: #F4F4F4 solid 1px;
    flex-grow: 1;
    color: #282828 ;
}
.cal-but-div {
    display: flex;
    flex-flow: row;
}
.cal-slide{   
    align-self: flex-end;
    text-align: center;
    font-size: 34px;
    background-color: #1972E8;
    display: flex;
    color: white;
    height: 65vh;
}
.cal-display {
    font-size: 60px;
    display: flex;
    height: 239px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 13px;
}
.cal-slide-center {
    align-self: center;
}

@media only screen and (min-width: 550px) {
    .cal-display {
        font-size: 60px;
        display: flex;
        height: 210px;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 13px;
    }
}

.cal-butt1 {
    text-align: end;
    font-size: 39px;
    color: #9F9F9F;
}
.cal-butt2 {
    color: #282828;
    text-align-last: end;
    font-size: 41px;
}