.cal-middle {
    /* display: grid; */
    height: 730px;
    width: 409px;
}
.cal-button {
    width: 95px;
    height: 93px;
    font-size: 27px;
    background-color: #FAFAFA;
    border: #F4F4F4 solid 1px;
    color: #282828 ;
}
.cal-but-div {
    display: flex;
    flex-flow: row;
    height: 463px;
    align-items: flex-end;
}
.cal-slide{
    align-self: flex-end;
    width: 98px;
    text-align: center;
    height: 464px;
    font-size: 34px;
    background-color: #1972E8;
    color: white;
}
.cal-display {
    font-size: 60px;
    height: 253px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 13px;

}