.dum-but {
    display: flex;
    width: 381px;
    flex-flow: column;
}
.dum-button {
    font-size: 27px;
    border: none;
    flex-grow: 1;
    background-color: #1972E8;
    color: #fff;
}
.dum-but-div {
    display: flex;
    flex-flow: row;
    border: none;
}
.dum-slide{   
    align-self: flex-end;
    text-align: center;
    font-size: 34px;
    background-color: #1972E8;
    display: flex;
    color: white;
    height: 65vh;
    border: none;
}
.dum-display {
    font-size: 60px;
    display: flex;
    height: 239px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 13px;
    border: none;
}
.dum-slide-center {
    align-self: center;
}