.dum-button {
    width: 95px;
    height: 93px;
    font-size: 27px;
    background-color: #1972E8;
    border: #1972E8 solid 1px;
    color: #282828 ;
}
.dum-slide {
    align-self: flex-end;
    width: 98px;
    text-align: center;
    height: 341px;
    font-size: 34px;
    background-color: blue;
    color: white;
}
.mother {
    display: flex;
    position: absolute;
    bottom: 0px;
}